CompileFlags:
  CompilationDatabase: >-
    /media/tungchiahui/6A0A73946EE82411/UserFolder/XiaomiCloud/Work/Source/STM32_Projects/N42_CURC2023/ER_v1/MDK-ARM/tmp/RTOS_GP_Helm_Wheel_Chassis/RTOSGPHelmWheelChassis
