CompileFlags:
  CompilationDatabase: >-
    /media/tungchiahui/6A0A73946EE82411/UserFolder/XiaomiCloud/Work/Source/STM32_Projects/N2_F103C8T6_FreeRTOS_GPIO_Test/MDK-ARM/tmp/Template_Linux/TemplateLinux
